<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Finratus Admin</title>
    <meta name="description" content="Finratus Admin">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.png">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/tooltip.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="assets/css/lib/datatable/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="assets/scss/style.css">
    <link rel="stylesheet" href="assets/css/lib/chosen/chosen.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.3/jquery.fancybox.min.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
    <style type="text/css">
        .select2-container{
            width: 90% !important;
        }
        .select2-selection{
            height: 100% !important;
            border: 1px solid #ced4da !important;
            border-radius: .25rem !important;
            color: #495057 !important;
        }
        input.invalid, span.invalid {
            border: 2px dashed red;
        }
        #csvUpload {
            width: 100%;
        }
        td.disabled {
            background-color: #efefef !important;
        }
    </style>
</head>
<body>
<!-- Left Panel -->
<aside id="left-panel" class="left-panel" include-html="/includes/sidebar.html"></aside><!-- /#left-panel -->
<!-- Left Panel -->

<!-- Right Panel -->
<div id="right-panel" class="right-panel">
    <!-- Header-->
    <header id="header" class="header" include-html="/includes/header.html"></header><!-- /header -->
    <!-- Header-->

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Bulk Upload</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Users</a></li>
                        <li class="active">Bulk Upload</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-header">
                    <strong>Upload Bulk Statement</strong> <small> Payment Information</small>
                    <a href="/Bank Statement.csv" target="_blank" style="text-decoration: underline; float: right;">
                        Download Statement Template <i class="fa fa-cloud-download"></i></a>
                </div>
                <div class="card-body card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="account">Account<strong style="color:red"> *</strong></label>
                                    <select id="account" class="form-control">
                                        <option selected="selected">Select Account</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label for="startDate">Start date<strong style="color:red"> *</strong></label>
                                    <input type="date" class="form-control" id="startDate" placeholder="Start date">
                                </div>
                                <div class="col-sm-3">
                                    <label for="endDate">End date<strong style="color:red"> *</strong></label>
                                    <input type="date" class="form-control" id="endDate" placeholder="End date">
                                </div>
                                <div class="col-sm-3">
                                    <label for="csvUpload">Statement<strong style="color:red"> *</strong></label>
                                    <input type="file" id="csvUpload" style="display: inline-block"/>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 5px;">
                                <div class="col-lg-3">
                                    <input id="cr_dr" type="checkbox"> Credit & Debit Together
                                </div>
                                <div class="col-lg-3">
                                    <input id="reversal_check" type="checkbox"> -ve Credit is Reversal
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="dvCSV" style="margin: 30px 0;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <input id="saveBulkUpload" type="submit" class="btn btn-success btn-flat m-b-30 m-t-30 write" value="Save Bulk Upload"/>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
        <div id="wait" style=";width:150px;height:100px;position:fixed;top:50%;left:50%;padding:2px;z-index:99999;"><img src='spinner.gif' width="100" height="100" style="background-color: transparent"/></div>
    </div><!-- .content -->


</div><!-- /#right-panel -->
<!-- Right Panel -->

<!-- Notification Panel -->
<div id="panels" include-html="/includes/notifications.html"></div>

<script src="assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/lib/chosen/chosen.jquery.min.js"></script>
<script src="assets/js/lib/data-table/datatables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.3/jquery.fancybox.min.js"></script>
<script src="../../js/helper-functions.js"></script>
<script src="../../menus/menu-items.js"></script>
<script type="text/javascript" src="../../collection/bulk-upload/bulk-upload.js"></script>
<script src="../../js/loader.js"></script>
<script src="../../js/notifications.js"></script>
</body>
</html>
