<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Finratus Admin</title>
    <meta name="description" content="Finratus Admin">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.png">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="assets/css/lib/datatable/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="assets/scss/style.css">
    <link rel="stylesheet" href="assets/css/lib/chosen/chosen.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
    <style type="text/css">
        .logo {
            height: 200px;
        }
        .logo:hover {
            background:#fff;
            border:1px solid #ddd;
            cursor: pointer;
            -webkit-box-shadow: 0 5px 5px -3px #777;
            -moz-box-shadow: 0 5px 5px -3px #777;
            box-shadow: 0 5px 5px -3px #777;
        }
        input[type="checkbox"] {
            margin-right: 15px;
        }
        .multiselect-native-select{
            width: 90%;
        }
        .multiselect-native-select div.btn-group, .multiselect-native-select button.multiselect, ul.multiselect-container{
            width: 100%;
        }
        .multiselect-native-select button.multiselect{
            background: #ffffff;
            color: #495057;
            border: 1px solid #ced4da;
            border-radius: .25rem;
        }
    </style>
</head>

<body>
<!-- Left Panel -->
<aside id="left-panel" class="left-panel" include-html="/includes/sidebar.html"></aside><!-- /#left-panel -->
<!-- Left Panel -->

<!-- Right Panel -->
<div id="right-panel" class="right-panel">
    <!-- Header-->
    <header id="header" class="header" include-html="/includes/header.html"></header><!-- /header -->
    <!-- Header-->

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <!--<h1>Manage Permissions</h1>-->
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Settings</a></li>
                        <li class="active">Manage Integrations</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="widget-title lighter smaller">Third Party Integrations</h4>
                        </div>

                        <div class="card-body">
                            <div class="widget-main padding-8">
                                <div class="col-lg-3 logo"  data-toggle="modal" data-target="#xeroConfig">
                                    <img src="https://www.accountancyage.com/wp-content/uploads/sites/3/2019/02/Xero-Logo-Blue-Blue-Byline-Below-RGB.png" alt="xero">
                                </div>
                                <!-- <div class="col-lg-3 logo">
                                    <img style="margin-top: 50px;" src="https://camo.githubusercontent.com/a7b368cab293892c59fc278fa5cebe4f8ddbe1a8/68747470733a2f2f7261772e6769746875622e636f6d2f6d61696c67756e2f6d656469612f6d61737465722f4d61696c67756e5f5072696d6172792e706e67" alt="mailgun">
                                </div> -->
                                <div class="col-lg-3 logo">
                                    <img style="margin-top: 10px;" src="https://netstorage-legit.akamaized.net/images/vllkyt7nki3c742g7.jpg?imwidth=900" alt="remita">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
        <div id="wait" style="width:150px;height:100px;position:fixed;top:50%;left:50%;padding:2px;z-index:99999;"><img src='spinner.gif' width="100" height="100" style="background-color: transparent"/></div>
    </div><!-- .content -->


</div><!-- /#right-panel -->
<!-- Right Panel -->

<div class="modal fade" id="xeroConfig" tabindex="-1" role="dialog" aria-labelledby="xeroConfigLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="xeroConfigLabel">Xero Configuration</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="form-control-label">
                            <input id="xero_client" type="checkbox">
                            Clients Module
                        </label>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label class="form-control-label">
                            <input id="xero_loan_account" type="checkbox">
                            Loan Applications Module
                        </label>
                        <div class="row">
                            <div class="col-lg-8">
                                <label for="xero_disbursement_account" class="form-control-label">Disbursement/GL Account</label>
                                <select id="xero_disbursement_account" class="form-control" disabled="disabled">
                                    <option value="000" selected="selected">-- Select Disbursement/GL Account --</option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label for="xero_loan_account_status" class="form-control-label">Document Status</label>
                                <select id="xero_loan_account_status" class="form-control" disabled="disabled">
                                    <option selected="selected">DRAFT</option>
                                    <option>AUTHORISED</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5px;">
                            <div class="col-lg-6">
                                <label for="xero_principal_account" class="form-control-label">Principal Account</label>
                                <select id="xero_principal_account" class="form-control" disabled="disabled">
                                    <option value="000" selected="selected">-- Select Principal Acct --</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label for="xero_interest_account" class="form-control-label">Interest Account</label>
                                <select id="xero_interest_account" class="form-control" disabled="disabled">
                                    <option value="000" selected="selected">-- Select Interest Acct --</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 5px;">
                            <div class="col-lg-6">
                                <label for="xero_web_principal_account" class="form-control-label">Web Principal Account</label>
                                <select id="xero_web_principal_account" class="form-control" disabled="disabled">
                                    <option value="000" selected="selected">-- Select Principal Acct --</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label for="xero_web_interest_account" class="form-control-label">Web Interest Account</label>
                                <select id="xero_web_interest_account" class="form-control" disabled="disabled">
                                    <option value="000" selected="selected">-- Select Interest Acct --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label class="form-control-label">
                            <input id="xero_collection_bank" type="checkbox">
                            Collections & Pay Off Module
                        </label>
                        <div class="row">
                            <div class="col-lg-12">
                                <label class="form-control-label" style="display: none;">
                                    <input id="xero_collection_description" type="checkbox">
                                    Request payment description for collections
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label class="form-control-label">
                            <input id="xero_escrow" type="checkbox">
                            Overpayments Module
                        </label>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label class="form-control-label">
                            <input id="xero_writeoff" type="checkbox">
                            Write Off Module
                        </label>
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="xero_writeoff_account" class="form-control-label">Write Off Account</label>
                                <select id="xero_writeoff_account" class="form-control" disabled="disabled">
                                    <option value="000" selected="selected">-- Select Write Off Account --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="xero_users" class="form-control-label">Assign Users</label>
                        <select id="xero_users" class="multiselect-ui form-control" multiple="multiple" required="required"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveXeroConfig()">Save Configuration</button>
                <button type="button" class="btn btn-success" onclick="connectXero()">Connect to Xero</button>
            </div>
        </div>
    </div>
</div>

<!-- Notification Panel -->
<div id="panels" include-html="/includes/notifications.html"></div>

<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/lib/data-table/datatables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js"></script>
<script src="../../js/helper-functions.js"></script>
<script src="../../menus/menu-items.js"></script>
<script type="text/javascript" src="../../settings/integrations/integrations.js"></script>
<script src="../../js/loader.js"></script>
<script src="../../js/notifications.js"></script>
</body>

</html>