<table border="0" cellpadding="0" cellspacing="0" id="m_455810833952069762templateContainer">
	<tbody>
		<tr>
			<td style="vertical-align:top">
			<table border="0" cellpadding="0" cellspacing="0" id="m_455810833952069762templatePreheader" style="width:100%">
				<tbody>
					<tr>
						<td style="vertical-align:top"><a href="https://link.thehoth.com/e/502191/2020-01-14/qrndrf/905018506?h=zEj-rTAW_WZQ2Myzrg3j_AFHblU0ZfI2XXpIJRj6DHQ" target="_blank"><img alt="" src="https://ci3.googleusercontent.com/proxy/HGEGNAhUWL7WyFUNuQ1n5UIebJo5LZa8pol4xGJUwpcBGbnf-34krOYiT3VrO-8wtkyAOI-FSrIaSH3_CpbBFkJ4ffAuQYSzngXd4W81vwA3Zs3CGPxnkEnYAljMWOhyFVNs2EchOAwUEzEHtFKsDA=s0-d-e1-ft#https://link.thehoth.com/l/502191/2018-03-05/n5ktbg/502191/112643/hoth_link_building_logo.png" style="height:43px; width:120px" /></a></td>
						<td style="vertical-align:top">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top">
			<table border="0" cellpadding="0" cellspacing="0" id="m_455810833952069762templateHeader" style="width:100%">
				<tbody>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top">
			<table border="0" cellpadding="0" cellspacing="0" id="m_455810833952069762templateBody" style="width:100%">
				<tbody>
					<tr>
						<td style="vertical-align:top">
						<h1>Healthcare Industry Case Study</h1>

						<p dir="ltr">The last few months our PPC department has been busy bringing in leads by the truckloads and cranking up campaign spend.<br />
						<br />
						We want&nbsp;to share some of the recent results with you.&nbsp;<br />
						<br />
						We just published a brand new case study showcasing how we were able to reduce the cost per lead by 60%&nbsp;in a competitive industry AND scale the campaign&nbsp;to $20k per month, profitably.<br />
						<br />
						The best apart?<br />
						<br />
						We show you EXACTLY how we did it so you can do it too.</p>

						<p><a href="https://link.thehoth.com/e/502191/tudies-healthcare-medical-ppc-/qrndr5/905018506?h=zEj-rTAW_WZQ2Myzrg3j_AFHblU0ZfI2XXpIJRj6DHQ" target="_blank">Check Out Case Study</a></p>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
