<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./ckcustom/ckeditor.js"></script>
    <title>ATB Mailer</title>
</head>
<body>
    <div class ="body">
        <form action="/atbmailer/trigger/save" method="POST">
            Trigger Name: <br>
            <input type="textbox" name="triggerName" id="" placeholder="Template name without spaces"><br>
            Trigger Subject: <br>
            <input type="text" name="triggerSubject" id=""><br>
            Trigger Content: <br>
            <textarea name="triggerContent" id="" cols="30" rows="10"></textarea>
            <button type="submit">Save Trigger</button>
        </form>
    </div>
      <script>

          CKEDITOR.replace( 'triggerContent' );
  
          CKEDITOR.config.mentions = [
            {
                feed: [ 'username', 'fullname', 'phone', 'address', 'branch', 'supervisor'],
                minChars: 0,
                marker: '@'
            }
          ];
      </script>
</body>
</html>